.Logo{
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;/*include the padding and border in an element's total width and height*/
    border-radius: 5px ;
}

.Logo img{
    height: 100%;
}